<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Dol</title>
		<link href="/dist/output.css" rel="stylesheet">
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>

	<body class="p-6">
		<div class="text-2xl font-bold">Vancouver Bread Reviews</div>
		<div class="text-neutral-500" >

			I decided to try and find the best loaves of bread in Vancouver.
		</div>
		<div class="py-8">
			<a href="/bread/purebread">
				<div class="hover:translate-x-1 transition-all">
					<div class="inline-flex flex-row border rounded-full bg-neutral-100">
						<div class="inline-flex flex-row items-center p-3">
							<img class="ring-1 ring-orange-800 ring-offset-2 ring-offset-neutral-100 rounded-full w-12 h-12 object-cover" src="/src/images/bread/bread1.jpg">
							<div class="px-4 text-orange-800">
								Purebread - Rosemary Olive Loaf
							</div>
						</div>
					</div>
				</div>
			</a>

		</div>
		<div class="">
			<div class="text-lg ">Future Reviews:</div>
			<div class="pt-2">
				- Chocolate walnut from Nelson the Seagull<br>
				- Tra Breads<br>
				- Birds and the Beets<br>
				- Bâtard Bakery<br>
				- Fratlli's<br>
				- Cob's<br>
				- Safeway $1.99 loaf<br>
			</div>
		</div>

		<div class="pt-6">
			<div class="text-lg">Want me to review a loaf? </div>
			<div>Let me know at donaldjewkes [at] gmail [dot] com</div>
		</div>
	</body>
</html>
