---
import Base from "../../components/Base.astro";
import DirHeader from "../../components/DirHeader.astro";
import Toasters from '../../components/Toasters.jsx';
import BreadPage from "../../components/BreadPage.astro";
import { Image, Picture } from '@astrojs/image/components';
const items = ['bread', 'dog']
---

<Base title="Dark Chocolate Sourdough from Nelson the Seagull - Vancouver Bread Reviews" 
		description="Dark Chocolate Sourdough bread review from Nelson the Seagull in Vancouver, Canada.">
	<DirHeader></DirHeader>

	<BreadPage bread="Dark Chocolate Sourdough" bakery="Nelson the Seagull" image={import("/public/images/bread/nelson-chocolate2.jpg")} 
	link="https://www.nelsontheseagull.com/" toasters={7} alt="A dark chocolate sourdough.">
		<div slot="pre-image" class="space-y-3">
			<span>This loaf came recommended from a friend.</span>			
			<div>I picked it up on a rainy Thursday morning before work.</div>
			<div>The bread was still warm which made the walk home pleasant.</div>
		</div>
		<div slot="post-image" class="space-y-2">
			<div>This sourdough was particularly pretty. It was reminiscent of a dark rye but there were visible pockets of chocolate throughout.</div>
			<div class="">There is a nutty bitterness that will appease dark chocolate enthusiasts. I found the chocolate gave the crumb a nice moisture. 
			</div>
			<div class="">
				I enjoyed this bread most toasted with a light coating of warm peanut butter.
			</div>
		</div>
	</BreadPage>
</Base>
