---
import Sub2DirHeader from "/src/components/Sub2DirHeader.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Dol</title>
		<link href="/dist/output.css" rel="stylesheet">
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>
	<Sub2DirHeader bread="Rosemary Olive">
	</Sub2DirHeader>

	<div class="p-4 max-w-lg">
		<div class="text-xl font-bold">Rosemary Olive</div>
		<div class="font-light text-neutral-500"><span class="text-xs italic">from</span> <a class="underline" href="https://www.purebread.ca/">Purebread</a></div>
		<div class="py-4 space-y-2 flex flex-col">
			<span>I got this loaf of Rosemary Olive from Purebread last Saturday.</span>			
			<div>This is what's left of it after a day and a half:</div>
			<div class="relative flex flex-col items-center sm:items-start">
				<img class="h-72 w-72 my-4 object-cover rounded" src="/images/bread/purebread-ro.jpg">
				<!-- rating; unused -->
				<!-- <div class="-ml-16 mt-2">
					<div class="flex flex-col align-center justify-center ring-2 ring-lime-800/80 rounded">
						<div class="flex flex-row p-2 px-2.5">
							<div class="text-4xl font-bold">5</div>
							<div class="pt-0.5 text-neutral-800/80 justify-self-start text-">.5</div>
						</div>
						<div class="border-t"></div>
						<div class="text-lg text-center">10</div>
					</div>
				</div>  -->
				<div class="pb-4">
					<div class="font-bold text-lg">Rating: 5/10 Toasters</div>
					<div class="p-2 bg-lime-800/50 border border-neutral-500 inline-flex rounded space-x-1">
						<img  class="h-6" src="/images/bread/toaster.png">
						<img  class="h-6" src="/images/bread/toaster.png">
						<img  class="h-6" src="/images/bread/toaster.png">
						<img  class="h-6" src="/images/bread/toaster.png">
						<img  class="h-6" src="/images/bread/toaster.png">
						<img  class="h-6 grayscale opacity-50" src="/images/bread/toaster.png">
						<img  class="h-6 grayscale opacity-50" src="/images/bread/toaster.png">
						<img  class="h-6 grayscale opacity-50" src="/images/bread/toaster.png">
						<img  class="h-6 grayscale opacity-50" src="/images/bread/toaster.png">
						<img  class="h-6 grayscale opacity-50" src="/images/bread/toaster.png">
					</div>
				</div>
			</div>
			<div>Despite eating this quickly, I was a little disappointed with this loaf</div>
			<div class="">The flavour was poorly dispersed. The olives were the only dominant pockets, rosemary was an afterthought. The crumb was very white and leaned dry. The crust had a satisfying crunch factor but was difficult to cut.
			</div>
			<div class="">
				I enjoyed this bread most lightly toasted with generous butter.
			</div>

			<div>It's clear the staff at Purebread enjoy being there. Plus one toaster for the excellent service.</div>
			<div class="inline-flex">
				<div class="font-bold pr-1">Bonus Toaster +1</div>
				<img  class="h-6" src="/images/bread/toaster.png">

			</div>
		</div>
	</div>
</html>
