---
import Base from "../../components/Base.astro";
const {link, image, text} = Astro.props
import { Image, Picture } from '@astrojs/image/components';
import DirHeader from "../../components/DirHeader.astro";
import PhotoDirectory from '../../components/PhotoDirectory.astro';
import BackArrow from "../../components/BackArrow.astro";
const grizz = import('/public/images/vancouver/van1.jpg')
// import testing from "../dol.png" don't like this import
---


<Base title = "Photos of San Fransisco and surrounding areas." description ="Photos from walks in SF by Donald Jewkes.">
	<DirHeader id="top"></DirHeader>
		
		<div class="p-4">
			<!-- build into component -->
			<BackArrow text="photos" link="/photos"/>
			<div class=" rounded">
				<div class=" flex flex-col items-center justify-center space-y-4">
					<Image width={700} class="relative w-full" src={import('/public/images/sf/sfp8.jpg')} alt="A bright house in San Fransisco."></Image>
					<Image width={700} class="relative w-full" src={import('/public/images/sf/sfp2.jpg')} alt="A man talking to someone in a car."></Image>
					<Image width={700} class="relative w-full" src={import('/public/images/sf/sfp3.jpg')} alt="Someone walking quickly in San Fransisco."></Image>
					<Image width={700} class="relative w-full" src={import('/public/images/sf/sfp4.jpg')} alt="An old man holding flowers by a cathedral."></Image>
					<Image width={700} class="relative w-full" src={import('/public/images/sf/sfp6.jpg')} alt="A man leaning against a building and thinking."></Image>
					<Image width={700} class="relative w-full" src={import('/public/images/sf/sfp9.jpg')} alt="Roman architecture."></Image>
				</div>
			</div>
			<a class="group flex flex-row justify-start items-center my-2" href="#top">
				<div>
					<img class="h-3 mr-2 -rotate-90" src="/images/icons/next.svg" alt="An up-arrow icon.">
				</div>
				<div class="flex flex-col items-start justify-start">
					<div class=" text-zinc-600">top</div>
					<div class="w-0 group-hover:w-full h-0.5 bg-secondary btransition-all duration-300"></div>
				</div>
			</a>
		</div>
</Base>
