---
const {link, image, text} = Astro.props
import { Image, Picture } from '@astrojs/image/components';
import DirHeader from "../../components/DirHeader.astro";
import PhotoDirectory from '../../components/PhotoDirectory.astro';
const grizz = import('/public/images/vancouver/van1.jpg')
// import testing from "../dol.png" don't like this import
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Donald Jewkes</title>
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>

	<DirHeader id="top"></DirHeader>
	
	<div class="p-4 max-w-md">
		<!-- build into component -->
		<a class="group flex flex-row justify-start items-center mb-2" href="/photos">
			<div>
				<img class="h-3 mr-2 rotate-180" src="/images/icons/next.svg" alt="An left-arrow icon.">
			</div>
			<div class="flex flex-col items-start justify-start">
				<div class=" text-neutral-500">photos</div>
				<div class="w-0 group-hover:w-full h-0.5 bg-dgreen btransition-all duration-300"></div>
			</div>
		</a>
		<Image width={500} class="relative py-1 w-92" src={import('/public/images/vancouver/van4.jpg')} alt="An orca swimming."></Image>
		<Image width={500} class="relative py-1 w-92" src={import('/public/images/vancouver/van3.jpg')} alt="A grizzly bear eating muscles on the beach."></Image>
		<Image width={500}  class="relative py-1 w-92" src={import('/public/images/vancouver/van1.jpg')} alt="Kristian fishing for a Salmon"></Image>
		<Image width={500} class="relative py-1 w-92" src={import('/public/images/vancouver/van2.jpg')} alt="An eagle flying through the Knight inlet."></Image>

		<a class="group flex flex-row justify-start items-center mb-2" href="#top">
			<div>
				<img class="h-3 mr-2 -rotate-90" src="/images/icons/next.svg" alt="An up-arrow icon.">
			</div>
			<div class="flex flex-col items-start justify-start">
				<div class=" text-neutral-500">top</div>
				<div class="w-0 group-hover:w-full h-0.5 bg-dgreen btransition-all duration-300"></div>
			</div>
		</a>
	</div>
	
</html>
