---
const {link, image, text} = Astro.props
import Base from "../../components/Base.astro";
import { Image, Picture } from '@astrojs/image/components';
import DirHeader from "../../components/DirHeader.astro";
import PhotoDirectory from '../../components/PhotoDirectory.astro';
const grizz = import('/public/images/vancouver/van1.jpg')
// import testing from "../dol.png" don't like this import
---

<Base title = "Photos of Vancouver and surrounding areas." description ="Vancouver nature photos by Donald Jewkes.">
	
	<DirHeader id="top"></DirHeader>
	<div class="p-4 max-w-2xl">
		<!-- build into component -->
		<a class="group flex flex-row justify-start items-center mb-2" href="/photos">
			<div>
				<img class="h-3 mr-2 rotate-180" src="/images/icons/next.svg" alt="An left-arrow icon.">
			</div>
			<div class="flex flex-col items-start justify-start">
				<div class=" text-zinc-600">photos</div>
				<div class="w-0 group-hover:w-full h-0.5 bg-secondary btransition-all duration-300"></div>
			</div>
		</a>
		<div class="flex flex-col w-full items-center justify-center">
			<Image width={500} class="relative  my-1 w-full" src={import('/public/images/vancouver/van4.jpg')} alt="An orca swimming."></Image>
			<Image width={600} class="relative  my-1 w-full" src={import('/public/images/vancouver/van3.jpg')} alt="A grizzly bear eating muscles on the beach."></Image>
			<Image width={600}  class="relative  my-1 w-full" src={import('/public/images/vancouver/van1.jpg')} alt="Kristian fishing for a Salmon"></Image>
			<Image width={500} class="relative  my-1 w-full" src={import('/public/images/vancouver/van2.jpg')} alt="An eagle flying through the Knight inlet."></Image>
		</div>

		<a class="group flex flex-row justify-start items-center mb-2" href="#top">
			<div>
				<img class="h-3 mr-2 -rotate-90" src="/images/icons/next.svg" alt="An up-arrow icon.">
			</div>
			<div class="flex flex-col items-start justify-start">
				<div class=" text-zinc-600">top</div>
				<div class="w-0 group-hover:w-full h-0.5 bg-secondary btransition-all duration-300"></div>
			</div>
		</a>
	</div>
</Base>
