<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Dol</title>
		<link href="/dist/output.css" rel="stylesheet">
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>
	
	<body class="p-6">
		<div class="">I'm a software developer in Vancouver, Canada.</div>
		<span>I work for</span> <a href="http://www.motionhall.com">MotionHall.</a>
	</body>
</html>
