---
import Base from "../components/Base.astro";
const {link, image, text} = Astro.props
import { Image, Picture } from '@astrojs/image/components';
import DirHeader from "../components/DirHeader.astro";
---
<html lang="en">
	<Base title="Donald Jewkes - About" 
		description="I live in Vancouver, Canada and I'm a developer at MotionHall. We are working to accelerate the rate of tech transfer in the life sciences.">
	<DirHeader></DirHeader>
	
		<div class="p-4 lg:py-6 max-w-2xl">
			<div class="flex flex-row items-center max-w-sm">
				<Image width={200} height={200} class="relative rounded h-14 w-14" src={import("/public/images/icons/dol_icosm.jpg")} alt="icon"></Image>
				<div class="absolute mt-2 ml-1 -z-10 rounded h-14 w-14 bg-dgreen"></div>
				<div class="pl-4">
					<div class="">Hey, I'm Donald.</div>
					<div class="">I live in Vancouver, Canada.</div>
				</div>
			</div>
			
			<div class="pt-4">
				<span>I'm a developer at </span>
				<a class="text-dgreen underline hover:text-amber-400"href="http://www.motionhall.com">MotionHall.</a>
				<span> We are working to accelerate the rate of tech transfer in the life sciences.</span>
			</div>
			<div class="pt-4 font-light text-neutral-500 text-sm ">Contact:</div>
			<div class="">donaldjewkes [at] gmail [dot] com</div>
		</div>
	</Base>

</html>
