<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Dol</title>
		<link href="/dist/output.css" rel="stylesheet">
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>

	<body class="p-6">
		<div class="text-2xl">Vancouver bread reviews</div>
		<div class="py-4">
			<span>I got this loaf of Rosemary Olive from </span> <a class="text-yellow-700" href="https://www.purebread.ca/">Purebread</a> <span> last Saturday.</span>
			<div>It was a great buying experience. </div>
			<div>This is what's left of it after a day and a half. </div>
			<img class="w-64 py-4" src="https://i.ibb.co/WDW0m9z/bread1.jpg">
			<div class="text-2xl text-orange-400">Overall rating 5.5/10</div>
			<div class="w-72 pt-4">The olives in this loaf were the only dashes of flavour to be found; mrs. rosemary has gone missing. 
				There was no dispersion of savour throughout the white crumb. 
				The crust had a great crunch factor but was difficult to cut.
			</div>
			<div class="pt-4 w-72">
				I enjoyed this bread most lightly toasted with generous butter.
			</div>


			<div>
				Future Reviews:
				- Chocolate walnut from Nelson the Seagull
				- Tra Breads
				- Birds and the Beets
				- Bâtard Bakery


			</div>
		</div>
	</body>
</html>
