---
import SubDirHeader from "../components/SubDirHeader.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Donald Jewkes's bread reviews in Vancouver, Canada. Trying to find the best bakeries in Vancouver."/>
		<title>Dol - Bread</title>
		<link href="/dist/output.css" rel="stylesheet">
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>
	<SubDirHeader>
	</SubDirHeader>

	<div class="p-4">
		<h1 class="text-xl font-bold">Vancouver Bread Reviews</h1>
		<h2 class="text-neutral-500" >
			I buy loaves of bread and tell you what I think.
		</h2>
		<div class="py-8 grid grid-cols-1 ">
			<div>
				<a href="/bread/purebread">
					<div class="hover:translate-x-1 transition-all">
						<div class="inline-flex flex-row ">
							<div class="inline-flex flex-row items-center p-3">
								<img class="ring-1 ring-lime-800 ring-offset-2 ring-offset-neutral-100 w-12 h-12 object-cover" src="/images/bread/purebread-ro-icon.jpg" alt="purebread icon">
								<div class="px-4 text-neutral-700 flex flex-col">
									<div class="font-bold text-neutral-800 text-lg">Rosemary Olive</div> 
									<div class="font-light text-neutral-500"><span class="text-xs italic">from</span> Purebread</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="ml-2 w-40 border-t border-1 border-lime-800/50 my-4"></div>
			<div class="pt-">
				<a class="" href="/bread/nelson-chocolate">
					<div class="hover:translate-x-1 transition-all">
						<div class="inline-flex flex-row ">
							<div class="inline-flex flex-row items-center p-3">
								<img class="ring-1 ring-lime-800 ring-offset-2 ring-offset-neutral-100 w-12 h-12 object-cover" src="/images/bread/nelson-icon.jpg" alt="nelson the seagull icon">
								<div class="px-4  flex flex-col">
									<div class="font-bold text-neutral-800 text-lg">Dark Chocolate Sourdough</div> 
									<div class="font-light text-neutral-500"><span class="text-xs italic">from</span> Nelson the Seagull</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="">
			<div class="font-bold text-lg text-neutral-800 ">Future Reviews:</div>
			<div class="pt-2 text-neutral-500">
				<ul class="ml-4 list-disc">
					<li class="line-through">Dark Chocolate Sourdough from Nelson the Seagull</li>
					<li>Terra Breads</li>
					<li>Birds and the Beets</li>
					<li>Bâtard Bakery</li>
					<li>Fratlli's</li>
					<li>Cob's</li>
					<li>Safeway $1.99 loaf</li>
				</ul>
			</div>
		</div>

		<div class="pt-6">
			<div class="font-bold text-lg text-neutral-800">Want me to review a loaf? </div>
			<div class="text-neutral-500">Let me know at donaldjewkes [at] gmail [dot] com</div>
		</div>
	</div>
</html>
