---
import DirHeader from "../components/DirHeader.astro";
---

<html lang="en">
	<head>
		<meta name="google-site-verification" content="xEw0P5dx-_SXX7bqTGQomBICE9IIyFSRm2xoNr85ubY" />
		<meta name="description" content="Donald Jewkes' personal website. Created in Vancouver, Canada."/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Dol</title>
		<link href="/dist/output.css" rel="stylesheet">
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>

	<DirHeader>

	</DirHeader>

	<div class="p-4">
		<!-- <div class="">Hey, it's Donald.</div> -->
		<div class="group bg-black hover:bg-white transition-all border border-neutral-700 w-24">
				<a href="/bread" class="">
				<img class=" inset-0 w-full object-cover" src="/images/bread/neoclassicalbread.jpg" alt="neoclassical painting of bread">
				<div class="p-1 text-white text-center text-lg group-hover:text-black">Bread</div>
				</a>
			</div>
		<div class="">

		</div>
		<!-- <div class="pt-4">
			<div>Contact:</div>
			<div>donaldjewkes [at] gmail [dot] com</div>
		</div> -->
	</div>
</html>
