---
import DirHeader from "../components/DirHeader.astro";
import MainDirectory from "../components/MainDirectory.astro";
import { Image, Picture } from '@astrojs/image/components';
import localImage from "../assets/tester.jpg";
import localImage2 from "/public/test2.jpg";
---

<html lang="en">
	<head>
		<meta name="google-site-verification" content="xEw0P5dx-_SXX7bqTGQomBICE9IIyFSRm2xoNr85ubY" />
		<meta name="description" content="Donald Jewkes - I live in Vancouver, Canada and I'm a developer at MotionHall. We are working to accelerate the rate of tech transfer in the life sciences."/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Dol</title>
		<link href="/dist/output.css" rel="stylesheet">
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>

	<DirHeader>
	</DirHeader>

	<div class="p-4">
		<div class="flex flex-col space-y-1 items-start justify-center">
			<MainDirectory link="/about" image={import('/public/images/icons/wavefill.png')} text="me">
			</MainDirectory>
			<MainDirectory link="/bread" image={import('/public/images/icons/bread.png')} text="bread">
			</MainDirectory>
			<MainDirectory link="/photos" image={import('/public/images/icons/camera.png')} text="photos">
			</MainDirectory>
			<MainDirectory link="/thinks" image={import('/public/images/icons/thinking.png')} text="thinks">
			</MainDirectory>
		</div>
	</div>
</html>
 