---
import Base from "../components/Base.astro";
import DirHeader from "../components/DirHeader.astro";
import MainDirectory from "../components/MainDirectory.astro";
import { Image, Picture } from '@astrojs/image/components';
import localImage from "../assets/tester.jpg";
import Link from "../components/Link.astro"

---
<html lang="en">
<!-- Welcome friend.-->
<!--    ._____. ._____.-->
<!--	| ._. | | ._. |-->
<!--	| !_| |_|_|_! |-->
<!--	!___| |_______!-->
<!--	.___|_|_| |___.-->
<!--	| ._____| |_. |-->
<!--	| !_! | | !_! |-->
<!--	!_____! !_____!-->
<!-- Enjoy your stay.-->
	 
	<Base title="Donald Jewkes" 
		description="Hey I'm Donald, I'm trying to leave the world better than I found it :)">
	<DirHeader>
	</DirHeader>

		<div class="pt-84 p-4 max-w-2xl text-zinc-800">
			<div class="flex flex-row items-center space-x-6 justify-right">
				
				<!-- <Image width={200} height={200} class="relative rounded h-16 w-16" src={import("/public/images/icons/dol_icosm.jpg")} alt="icon"></Image> -->
				<!-- <div class="absolute mt-2 ml-1 -z-10 rounded h-16 w-16 bg-primary"></div> -->
				<img draggable="false" class="relative h-32 w-32" src="/images/icons/128dj.svg">
				<div class="">
					
					<div class="flex flex-row items-center">
						<div class="font-bold ">Hey, I'm Donald</div>
						<img draggable="false" class="pl-2 relative h-5 opacity-80 " src="/images/icons/face.svg">
					</div>

					<div class="pt-2 text">I'm trying to leave the world better than I found it.</div>
				</div>
			</div>
			
			<div class="pt-8 text-zinc-800 space-y-2">
				<div class=""><div class="">I worked on software for biotechs at <Link href="http://www.motionhall.com" text="MotionHall" nt="t"/>, which we <Link href="https://www.prnewswire.com/news-releases/clarivate-acquires-ai-start-up-to-accelerate-strategy-and-business-development-success-for-life-sciences--healthcare-clients-302095042.html" text="sold" nt="t"/> in 2024.</div>
				<div class="pt-2">I live in Vancouver.</div>
				
			</div>

				<!-- <div class=""><div class="font-bold">Now</div>
					<ul class="py-2 pl-10 list-[disc] space-y-2">
						<li>Building software to help biotechs partner at <Link href="http://www.motionhall.com" text="MotionHall" nt="t"/>.</li>
						<li>Between SF and Vancouver - say hi!</li>
					</ul>
				</div> -->
				<div class="pt-4"><div class="font-bold">Forays</div>
					<ul class="py-2 list-[none] space-y-2">
						<li>Filmed a feature length <Link href="/projects/wtwm" text="documentary"/> on oyster aquaculture.</li>
						<li>Started a post-workout probiotic <Link href="/projects/liven" text="company"/>.</li>
						<li>Lived in an artist's <Link href="/projects/buffo" text=" sea tower"/> in Panama.</li>
						<li>Bikepacked 1000km to a <Link href="https://en.wikipedia.org/wiki/Western_Brook_Pond" text="fjord"/> in Newfoundland.</li>
						<!-- <li>Wrote about <Link href="/bread" text="bread"/>.</li> -->
					</ul>
				</div>
				<div class="pt-4"><div class="font-bold">Contact</div>
				<ul class="py-2 list-[none] space-y-2">
					<li><span class="font-bol">email:</span> donaldjewkes [at] gmail [dot] com</li>
					<li><span class="font-bod">twitter:</span> <Link href="https://twitter.com/donaldjewkes" text="@donaldjewkes" nt="1"></Link></li>
				</ul>
			</div>
				
				<!-- I've also been learning about biotech R&D, transactions, and regulatory pathways.
				<span>We are working to accelerate tech transfer in the life sciences. Recently I've been building infrastructure to track intellectual property across the pharmaceutical industry.</span> -->
			</div>
		</div>

		<!-- <div class="w-full mx-auto">
			<div class="w-full mx-auto p-4">
				<div class=" w-full flex flex-row items-center justify-between space-x-4">
					<div class="flex flex-col space-y-1 items-start justify-center">
						<MainDirectory link="/about" image="/images/icons/wave.png" text="me" alt="A waving hand.">
						</MainDirectory>
						<MainDirectory link="/bread" image="/images/icons/bread.png" text="bread" alt="A loaf of bread.">
						</MainDirectory>
						<MainDirectory link="/photos" image="/images/icons/camera.png" text="photos" alt="An old film camera.">
						</MainDirectory>
						<MainDirectory link="/projects" image="/images/icons/chisel.png" text="projects" alt="A chisel and a block.">
						</MainDirectory>
					</div>
					<div class=" rounded">
						<img class="relative rounded sm:w-full w-32 h-40 object-cover object-center opacity-90 " src="/public/images/pages/church.jpg" alt="Saints Peter and Paul Church"/>
					</div>
				</div>	
			</div>
		</div> -->
	</Base>
</html>
 