---
import Base from "../components/Base.astro";
import DirHeader from "../components/DirHeader.astro";
import MainDirectory from "../components/MainDirectory.astro";
import { Image, Picture } from '@astrojs/image/components';
import localImage from "../assets/tester.jpg";
import Link from "../components/Link.astro"

---
<html lang="en">
<!-- Welcome friend.-->
<!--    ._____. ._____.-->
<!--	| ._. | | ._. |-->
<!--	| !_| |_|_|_! |-->
<!--	!___| |_______!-->
<!--	.___|_|_| |___.-->
<!--	| ._____| |_. |-->
<!--	| !_! | | !_! |-->
<!--	!_____! !_____!-->
<!-- Enjoy your stay.-->
	 
	<Base title="Donald Jewkes" 
		description="I live in Vancouver, Canada and I'm a developer at MotionHall. We are working to accelerate the rate of tech transfer in the life sciences.">
	<DirHeader>
	</DirHeader>

		<div class="p-4 lg:py-6 max-w-2x text-zinc-800">
			<div class="flex flex-row items-center ">
				<img class="relative rounded h-24 w-24	" src="/images/icons/donaldicon.jpg">
				<!-- <Image width={200} height={200} class="relative rounded h-16 w-16" src={import("/public/images/icons/dol_icosm.jpg")} alt="icon"></Image> -->
				<!-- <div class="absolute mt-2 ml-1 -z-10 rounded h-16 w-16 bg-primary"></div> -->
				<div class="pl-4">
					<div class="font-bold ">Hey, I'm Donald.</div>
				</div>
			</div>
			
			<div class="pt-4 text-zinc-600 space-y-2">
				<div>
					<span>I'm a developer at </span>
					<Link href="http://www.motionhall.com" text="MotionHall" nt="1"></Link>.
					
				</div>
				<div class=""></div>
				<div>You can see some of the projects I've worked on in the past <Link href="/projects" text="here"/>. Sometimes I write about <Link href="/bread" text="bread"/> or shoot <Link href="/photos" text="photos"/></div>

				I've also been learning about biotech R&D, transactions, and regulatory pathways.
				<span>We are working to accelerate tech transfer in the life sciences. Recently I've been building infrastructure to track intellectual property across the pharmaceutical industry.</span>
			</div>
			<div class="pt-6 text-neutral-800 font-bold " id="contact">Get in touch</div>
			<div class="pt-2 flex flex-row">
				<div class="text-zinc-600">email: donaldjewkes [at] gmail [dot] com</div>
				<div>twitter <Link href="https://twitter.com/donaldjewkes" text="@donaldjewkes" nt="1"></Link>.</div>
			</div>

		</div>

		<div class="w-full mx-auto">
			<div class="w-full mx-auto p-4">
				<div class=" w-full flex flex-row items-center justify-between space-x-4">
					<div class="flex flex-col space-y-1 items-start justify-center">
						<MainDirectory link="/about" image="/images/icons/wave.png" text="me" alt="A waving hand.">
						</MainDirectory>
						<MainDirectory link="/bread" image="/images/icons/bread.png" text="bread" alt="A loaf of bread.">
						</MainDirectory>
						<MainDirectory link="/photos" image="/images/icons/camera.png" text="photos" alt="An old film camera.">
						</MainDirectory>
						<!-- <MainDirectory link="/thinks" image="/images/icons/thinking.png" text="thinks" alt="A man sitting and thinking.">
						</MainDirectory> -->
						<MainDirectory link="/projects" image="/images/icons/chisel.png" text="projects" alt="A chisel and a block.">
						</MainDirectory>
					</div>
					<div class=" rounded">
						<img class="relative rounded sm:w-full w-32 h-40 object-cover object-center opacity-90 " src="/public/images/pages/church.jpg" alt="Saints Peter and Paul Church"/>
						<!-- <Image width={300} class="relative rounded sm:w-full w-32 h-40 object-cover object-center opacity-90 " src={import('/public/images/pages/church.jpg')} alt="Saints Peter and Paul Church"></Image> -->
					</div>
				</div>	
			</div>
		</div>
	</Base>
</html>
 