<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Dol</title>
		<link href="/dist/output.css" rel="stylesheet">
	</head>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
	</style>

	<body class="p-6">
		<div>Hey, it's Donald.</div>
		<div class="pt-4">
			<a href="/about">About</a>
		</div>
		<div class="">

		</div>
		<div class="pt-4">
			<div>Contact:</div>
			<div>donaldjewkes [at] gmail [dot] com</div>
		</div>
	</body>
</html>
