---
import MetaData from "../components/MetaData.astro";
import DirHeader from "../components/DirHeader.astro";
import MainDirectory from "../components/MainDirectory.astro";
import { Image, Picture } from '@astrojs/image/components';
import localImage from "../assets/tester.jpg";
---
<html lang="en">
	<MetaData title="Donald Jewkes" 
		description="I live in Vancouver, Canada and I'm a developer at MotionHall. We are working to accelerate the rate of tech transfer in the life sciences."></MetaData>
	<DirHeader>
	</DirHeader>

	<div class="p-4">
		<div class="flex flex-col space-y-1 items-start justify-center">
			<MainDirectory link="/about" image="/images/icons/wave.png" text="me" alt="A waving hand.">
			</MainDirectory>
			<MainDirectory link="/bread" image="/images/icons/bread.png" text="bread" alt="A loaf of bread.">
			</MainDirectory>
			<MainDirectory link="/photos" image="/images/icons/camera.png" text="photos" alt="An old film camera.">
			</MainDirectory>
			<MainDirectory link="/thinks" image="/images/icons/thinking.png" text="thinks" alt="A man sitting and thinking.">
			</MainDirectory>
		</div>
		<!-- {import("/public/images/icons/thinking.png")} -->
	</div>
</html>
 