---
import Base from "../components/Base.astro";
import { Image, Picture } from '@astrojs/image/components';
import DirHeader from "../components/DirHeader.astro";
import PhotoDirectory from '../components/PhotoDirectory.astro';
const grizz = import('/public/images/vancouver/van1.jpg')
const {link, image, text} = Astro.props
// import testing from "../dol.png" don't like this import
---
<html lang="en">
	<Base title="Donald Jewkes - Photos" 
		description="Photos provide the illusion of permenance. I like that about them.">

		<DirHeader id="top"></DirHeader>
		
		<div class="p-4 max-w-md ">
			<PhotoDirectory class="relative py-10" link="/photos/vancouver" image={import("/public/images/vancouver/vanicon.jpg")} text="Vancouver" alt="Vancouver bear."></PhotoDirectory>
			<PhotoDirectory class="relative py-1" link="/photos/sf" image={import("/public/images/sf/sficon.jpg")} text="SF" alt="San Fransisco House."></PhotoDirectory>
			<div class=""></div>

		</div>
	</Base>
</html>
