---
import Base from "../components/Base.astro";
import { Image, Picture } from '@astrojs/image/components';
import DirHeader from "../components/DirHeader.astro";
import ProjectDirectory from '../components/ProjectDirectory.astro';
import PhotoDirectory from '../components/PhotoDirectory.astro';

const {link, image, text} = Astro.props
// import testing from "../dol.png" don't like this import
---
<html lang="en">
	<Base title="Donald Jewkes - Projects" 
		description="Some of the things that I've done in the past">

		<DirHeader id="top"></DirHeader>
		
		<div class="p-4">
			<div>
				My quality working hours are spent building <a class="text-secondary underline hover:text-primary" target="_blank" rel="noreferrer noopener" href="http://www.motionhall.com">MotionHall</a>. 
				Here are some of the projects I've taken on in the past:
			</div>
			<div class="pt-4 ">
				<ProjectDirectory class="relative py-10" link="/projects/wtwm" image="/images/icons/WTWM_LOGO.svg" text="Where the Waters Meet" sub="A feature length documentary." alt="Where the Waters Meet logo" wtwm="true"></ProjectDirectory>
				<ProjectDirectory class="relative py-10" link="/projects/liven" image="/images/icons/livenlogo.png" text="Liven Protein Kefir" sub="A post-workout probiotic." alt="Liven Protein Kefir logo" wtwm="false"></ProjectDirectory>

				<!-- <PhotoDirectory class="relative py-1" link="/photos/sf" image={import("/public/images/sf/sfp8.jpg")} text="Liven" alt="San Fransisco House."></PhotoDirectory> -->
				<div class=""></div>
			</div>

		</div>
	</Base>
</html>
