---
import Base from "../components/Base.astro";
import { Image, Picture } from '@astrojs/image/components';
import DirHeader from "../components/DirHeader.astro";
import ProjectDirectory from '../components/ProjectDirectory.astro';
const grizz = import('/public/images/vancouver/van1.jpg')
const {link, image, text} = Astro.props
// import testing from "../dol.png" don't like this import
---
<html lang="en">
	<Base title="Donald Jewkes - Photos" 
		description="Photos provide the illusion of permenance. I like that about them.">

		<DirHeader id="top"></DirHeader>
		
		<div class="p-4 max-w-md ">
			<ProjectDirectory class="relative py-10" link="/projects/wtwm" image="/public/images/icons/WTWM_LOGO.svg" text="Where the Waters Meet" alt="Vancouver bear."></ProjectDirectory>
			<!-- <PhotoDirectory class="relative py-1" link="/photos/sf" image={import("/public/images/sf/sfp8.jpg")} text="Liven" alt="San Fransisco House."></PhotoDirectory> -->
			<div class=""></div>

		</div>
	</Base>
</html>
