---
const {link, text} = Astro.props
import { Image, Picture } from '@astrojs/image/components';
---
<a class="group flex flex-row justify-start items-center mb-2" href={link}>
    <div>
        <img class="h-3 mr-2 rotate-180" src="/images/icons/next.svg" alt="An left-arrow icon.">
    </div>
    <div class="flex flex-col items-start justify-start">
        <div class=" text-neutral-500">{text}</div>
        <div class="w-0 group-hover:w-full h-0.5 bg-dgreen btransition-all duration-300"></div>
    </div>
</a>
