---
const { title, description} = Astro.props
import { Image, Picture } from '@astrojs/image/components';
// const dol = import('/public/images/icons/dol.png')
import dol from '../dol.png'
---

<div class="relative w-full mx-auto max-w-2xl mix-blend-multiply border-black flex items-center">
    <a href="/" class="w-full">
        <div class="pt-6 flex flex-col items-start w-full">
            <!-- <div class="absolute w-full rounded object-bottom object-cover">
                <img class="-z-10 h-16 w-full object-top object-cover rounded" src="/images/pages/hero2.jpg">
            </div> -->
            <div class="pt-4 pb-6 h-12 px-4 flex flex-row items-center group">
                <div class="relative pl-0.5 flex flex-col items-center justify-center">
                    <!-- <div class="relative bg-primary group-hover:bg-secondary rounded-full transition-all duration-300 h-9 w-9"></div> -->
                    <div class="absolute bg-primary group-hover:bg-orange-secondary rounded-full transition-all duration-300  h-3 w-3"></div>
                    <!-- <div class="relative h-8 w-8 rounded-full"></div> -->
                    <img class="relative rotate-180 h-6 w-6" src="/images/icons/vajra.png" alt="dol">
                    <!-- <Image width={75} height={75} class="relative h-10 w-10" src={import("../dol.png")} alt="icon"></Image> -->
                </div>
                <div class="relative pl-3">
                    <div class="text-zinc-800 font-bold text-lg grup-hover:underline decoration-double decoration-secondary decoration-2 underline-offset-4 transition-all duration-300">
                        Donald Jewkes
                    </div>
                    <div class="w-0 group-hover:w-full h-0.5 bg-secondary btransition-all duration-300">
                    </div>
                </div>
            </div>
            <div class=" lg:mt-2 mx-auto  w-full border-b border-zinc-300">
            </div>
        </div>
    </a>
</div>
