---
const directory = ""
const {bread} = Astro.props
---

<div class="relative h-14 w-full bg-dgreen mix-blend-multiply flex items-center">
    <div class="pl-4 relative inline-flex items-center">
            <a href="/" class="group inline-flex">
                <img src="/images/headericon.png" class="relative border border-black group-hover:border-amber-black group-hover:bg-amber-400 transition-all duration-300 my-1 mr-1 h-8 w-8" alt="ambiguous sentiment icon">
                <div class="relative px-2 py-2">
                    <div class="">
                        <span class="underline underline-offset-4 text-white">home</span>
                    </div>
                </div>
            </a>
            <div class=" inline-flex items-center">
                <div class="inline-flex items-center"> 
                    <span> &gt </span>
                    <a href="/bread" class="px-2 underline underline-offset-4 text-white">bread</a>
                </div>
                <div class="inline-flex items-center"></div>
                    <span> &gt </span>
                    <a href="/" class="px-2 italic underline underline-offset-4 text-white">{bread} </a>
                </div>
            </div>
    </div>
</div>

<div class="border-b border-black w-full">
</div>
<div>

</div>