---
const directory = ""
---

<div class="relative h-14 w-full bg-lime-200 mix-blend-multiply flex items-center">
    <div class="absolute w-full h-full bg-stone-800 opacity-80 mix-blend-multiply"></div>
    <div class="pl-4 relative inline-flex items-center">
            <a href="/" class="group inline-flex">
                <img src="/images/headericon.png" class="relative border border-black group-hover:border-amber-black group-hover:bg-amber-400 transition-all duration-300 m-1 h-8 w-8">
                <div class="relative px-2 py-2">
                    <div class="">
                        <span class="underline underline-offset-4 text-white">home</span>
                    </div>
                </div>
            </a>
            <div class="">
                <span> &gt  </span>
                <a href="/bread" class="italic underline underline-offset-4 text-white">bread</a>
            </div>
    </div>
</div>

<div class="border-b border-black w-full">
</div>
<div>

</div>